<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <title>dominant colors</title>
  </head>
  <body class="bg-light">
    <header class="site-header">
      <nav class="navbar fixed-top bg-info navbar-expand-lg navbar-dark p-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{url_for('index')}}">Dominant colors</a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto"></ul>
          </div>
        </div>
      </nav>
    </header>
    <br /><br /><br />
    <div class="container-sm bg-white" style="width: 40rem">
      <br>
      <div>
        <img 
        src="{{url_for('static', filename=filename)}}"
        class="img-thumbnail"
        alt="..."
        />
      </div>
      <br />
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Color</th>
            <th scope="col">Color code</th>
          
          </tr>
        </thead>
        <tbody>
          {% for row in rgb_values %}
          <tr >
            <td  style="background-color:rgb{{row}};"></td>
            <td>{{'#%02x%02x%02x' % row}}</td>
            
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div>
        <form action="{{url_for('upload_image')}}" method="POST" enctype="multipart/form-data">
          <label class="form-label fw-bold" for="customFile"
            >File to upload:</label
          >
          {{ form.csrf_token }}
          <div>
          {{ form.image(required='required') }}
          </div><br>

          <div>
            {{ form.number_of_colors}}
            {{ form.number_of_colors.label }}
          <div/><br/>
          <div>
            {{ form.delta}}
            {{ form.delta.label }}
          </div><br/>
          <button type="submit" class="btn btn-outline-info fw-bold ">Run</button>
        </form>
        
      </div></br>
      <br/>
      <br/>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
      integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
